<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:create id="fc_org_osra_app_domain_Partner" modelAttribute="partner" path="/partners" render="${empty dependencies}" z="VGEEl+JmYftnNOzXaxmPz7RKBso=">
        <field:input field="name" id="c_org_osra_app_domain_Partner_name" required="true" z="0jEhcv693jwan2qAjGznEBQO27s="/>
        <field:input field="region" id="c_org_osra_app_domain_Partner_region" required="true" z="PdPYTTv/StMSPZwF2QX5LWcowwk="/>
        <field:datetime dateTimePattern="${partner_partnershipdate_date_format}" field="partnershipDate" id="c_org_osra_app_domain_Partner_partnershipDate" z="0WCpzSbpriiPytBbWI78aP6u6ds="/>
        <field:select field="type" id="c_org_osra_app_domain_Partner_type" items="${partnertypes}" path="partnertypes" required="true" z="pr/CIJxCQgq9HMgxSm3J3Qwdefk="/>
        <field:select field="governorate" id="c_org_osra_app_domain_Partner_governorate" items="${governorates}" path="governorates" required="true" z="Qbw1nRa/p1HXryrMaOYh3ZPsQ5M="/>
        <field:select field="status" id="c_org_osra_app_domain_Partner_status" items="${partnerstatuses}" path="partnerstatuses" required="true" z="m+BYcQCPkPXAUSXpBu6U6Do4FeQ="/>
    </form:create>
    <form:dependency dependencies="${dependencies}" id="d_org_osra_app_domain_Partner" render="${not empty dependencies}" z="AR2ID3w2eAWf8U74arrUUP5U34g="/>
</div>
