<?page title="OSRA" contentType="text/html;charset=UTF-8"?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>

<?link rel="shortcut icon" href="../resources/images/favicon.ico" ?>
<?link rel="stylesheet" href="../resources/styles/bootstrap.css" ?>

<?script type="text/javascript" src="http://code.jquery.com/jquery.js"?>
<?script type="text/javascript" src="../resources/js/bootstrap.js"?>

<?variable-resolver class="org.zkoss.spring.DelegatingVariableResolver"?>
<zk xmlns:h="native">
	<style>


		
		<![CDATA[ .page-header { margin-top: 0; }
		.z-combobox-rounded-inp,.z-bandbox-rounded-inp,.z-datebox-rounded-inp,.z-timebox-rounded-inp,.z-spinner-rounded-inp,.z-doublespinner-rounded-inp,.z-combobox-inp,.z-bandbox-inp,.z-datebox-inp,.z-timebox-inp,.z-spinner-inp,.z-doublespinner-inp
		{ height:auto;} ]]>
		
		
	
	</style>

	<!-- HEADER -->

	<div class="navbar-wrapper">
		<div class="container">

			<div class="navbar navbar-inverse navbar-static-top">
				<div class="container">
					<div class="navbar-header">
						<h:button type="button" class="navbar-toggle"
							data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</h:button>
						<a class="navbar-brand" href="../">
							OSRA Web App
						</a>
					</div>

					<div class="navbar-collapse collapse">
						<h:ul class="nav navbar-nav">
							<h:li class="active">
								<a href="/app">
									<h:h5>Home</h:h5>
								</a>
							</h:li>
							<h:li>
								<a
									onClick='contentInc.setSrc("/WEB-INF/zul/listOrphans.zul")'>
									<h:h5>Orphans</h:h5>
								</a>
							</h:li>
							<h:li class="dropdown">
								<h:a class="dropdown-toggle"
									data-toggle="dropdown">
									<h:h5>
										Partners
										<h:b class="caret"></h:b>
									</h:h5>
								</h:a>
								<h:ul class="dropdown-menu">
									<h:li>
										<a
											onClick='contentInc.setSrc("/WEB-INF/zul/listPartners.zul")'>
											<h:h5>List</h:h5>
										</a>
									</h:li>
									<h:li>
										<a
											onClick='contentInc.setSrc("/WEB-INF/zul/createPartner.zul")'>
											<h:h5>Add</h:h5>
										</a>
									</h:li>

								</h:ul>
							</h:li>
							<h:li class="dropdown">
								<h:a class="dropdown-toggle"
									data-toggle="dropdown">
									<h:h5>
										Sponsors
										<h:b class="caret"></h:b>
									</h:h5>
								</h:a>
								<h:ul class="dropdown-menu">
									<h:li>
										<a
											onClick='contentInc.setSrc("/WEB-INF/zul/listSponsors.zul")'>
											<h:h5>List</h:h5>
										</a>
									</h:li>
									<h:li>
										<a
											onClick='contentInc.setSrc("/WEB-INF/zul/createSponsor.zul")'>
											<h:h5>Add</h:h5>
										</a>
									</h:li>

								</h:ul>
							</h:li>

						</h:ul>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="pull-right">
			Welcome:
			<label value="${authentication.principal.username}" />
			|
			<a href="../resources/j_spring_security_logout">Log out</a>
		</div>
		<h:hr />
	</div>

	<div class="container">
		<div class="row">

			<!-- CONTENT -->
			<div>
				<include id="contentInc"
					src="/WEB-INF/zul/homeContent.zul" />
			</div>

		</div>
	</div>

	<div class="container">
		<h:hr class="featurette-divider" />
	</div>

	<!-- FOOTER -->
	<h:footer>
		<div class="container">
			<div class="row">
				<div class="col-md-10">
					<h:em>

						&#169; 2013
						<h:strong>
							<a
								href="mailto:motasem@gmail.com?subject=OSRA web application">
								Motasem Salem
							</a>
						</h:strong>
					</h:em>
				</div>
			</div>
		</div>
	</h:footer>

</zk>