<zk xmlns:h="native">
	<div apply="org.zkoss.bind.BindComposer"
		viewModel="@id('vm') @init('org.osra.app.web.zk.SponsorVM')">

		<listbox model="@load(vm.allSponsors)"
			onSelect="@command('selectSponsor')"
			selectedItem="@bind(vm.mySponsor)" mold="paging" pageSize="10"
			pagingPosition="bottom" emptyMessage="No available sponsor">
			<listhead>
				<listheader label="ID" sort="auto(id)" />
				<listheader label="Name" sort="auto(name)" />				
				<listheader label="Email" sort="auto(email)" />
				<listheader label="Country" sort="auto(country)" />
			</listhead>
			<template name="model">
				<listitem>
					<listcell label="${each.id}" />
					<listcell label="${each.name}" />
					<listcell label="${each.email}" />
					<listcell label="${each.country}" />
				</listitem>
			</template>
		</listbox>

		<separator></separator>

		<div visible="@bind(!(vm.mySponsor.id eq null))">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h:h4>Sponsor Details</h:h4>
				</div>
				<div class="panel-body">
					<h:form
						class="form-horizontal col-md-8 col-md-offset-2">
						<h:legend>OSRA Sponsor Deatils:</h:legend>
						<include
							src="/WEB-INF/zul/forms/sponsorForm.zul" />

						<div class="form-group">
							<h:label class="col-md-3 control-label">
							</h:label>
							<div class="col-md-9">
								<button class="btn btn-default"
									onClick="@command('updateSponsor')">
									Update
								</button>
							</div>
						</div>
					</h:form>
				</div>
			</div>
		</div>
	</div>
</zk>