<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" xmlns:table="urn:jsptagdir:/WEB-INF/tags/form/fields" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:list id="pl_org_osra_app_domain_Sponsor" items="${sponsors}" z="lX2OLR2vax2hTE7ozl1j+2pWRIM=">
        <table:table data="${sponsors}" id="l_org_osra_app_domain_Sponsor" path="/sponsors" z="Xth13paUB8aavd/MhrFdMl3yvtc=">
            <table:column id="c_org_osra_app_domain_Sponsor_name" property="name" z="Wp+Cwp/LPJTEwm2eY1ETGh0sXpY="/>
            <table:column id="c_org_osra_app_domain_Sponsor_status" property="status" z="mkX8SVNFJAw27RP+Iu7nQPkY09c="/>
            <table:column id="c_org_osra_app_domain_Sponsor_type" property="type" z="8JwZF+FTSt1SJvpFFwxbFcQp/yQ="/>
            <table:column id="c_org_osra_app_domain_Sponsor_gender" property="gender" z="CgU6oOghzEVhJ13tlmlPE7Mue3E="/>
            <table:column id="c_org_osra_app_domain_Sponsor_address" property="address" z="2VoFbIGLcOfb0ONfU5l4Ax6BQMw="/>
            <table:column id="c_org_osra_app_domain_Sponsor_country" property="country" z="c5qp/4j4Q83eouwyFKyrXi1IRIY="/>
        </table:table>
    </page:list>
</div>
